body {
    display: flex;
    min-height: 100vh;

}

.form {
    display: flex;
    flex: auto;
    justify-items: center;
    align-items:center ;
    flex-direction: column;
}



input:invalid {
    border-color:  red;
}

input:valid {
    border-color: green;
}

input:focus:invalid {
outline: none;
}


select:valid {
    border-color: green;
}
